{% extends 'base.html.twig' %}

{% block title %}Hello RentController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


    <div class="container">
        <div class="row">
            <div class="col">
                <br>
                <h5>На нашем сайте Вы можете забронировать автомобиль для различных целей</h5>
                <img src="https://sun9-20.userapi.com/impf/r1_Z8kqAgfHhmooNBlCyJMVaWKvpFafk8mnKiw/ACXJ9mrPjW8.jpg?size=499x186&quality=96&sign=72c4f99a4cdabd39f9d6449ee890638d&type=album">
            </div>
        </div>
    </div>



{% endblock %}
